h2 {
	text-align: center;
}

table {
	width: 99vmin;
	height: 99vmin;
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	position: relative;
	width: 35px;
	height: 35px;
	border: 1px dotted #888;
	overflow: hidden;
}

.start {
	background-color: #aaa;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.block,
.stairs {
	background-color: #888;
}

.button > div:first-child {
	width: 100%;
	height: 100%;
	background-image: url('../img/css/button-north.svg');
	background-size: 100% 100%;
}

.button > .button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button.west > div:first-child,
.keyhole.west > div:first-child {
	transform: rotate(-90deg);
}

.button.east > div:first-child,
.keyhole.east > div:first-child {
	transform: rotate(90deg);
}

.button.south,
.keyhole.south {
	transform: rotate(180deg);
}

.cleric {
	background-color: #9Fc;
}

.cleric::after {
	content: "cleric";
}

.door::before {
	content: "";
	position: absolute;
	background-color: #aaa;
}

.door.east-west::before {
	top: 50%;
	left: 0;
	width: 100%;
	height: 20%;
	transform: translateY(-50%);
}

.door.north-south::before {
	left: 50%;
	top: 0;
	height: 100%;
	width: 20%;
	transform: translateX(-50%);
}

.expected {
	background-color: #aaa;
}

.hole.ceiling > .hole.ceiling {
	width: 100%;
	height: 100%;
	background-image: url('../img/css/hole-ceiling.svg');
	background-size: 100% 100%;
}

.hole.floor {
	background-image: url('../img/css/hole-floor.svg');
	background-size: 100% 100%;
}

.imaginary {
	background-color: #eee;
	border: 2px dashed #99f;
}

.keyhole > div:first-child {
	width: 100%;
	height: 100%;
	background-image: url('../img/css/keyhole-north.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#party {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/css/party-north.svg');
	background-size: 100% 100%;
	height: 100%;
}

#party.west {
	transform: rotate(-90deg);
}

#party.east {
	transform: rotate(90deg);
}

#party.south {
	transform: rotate(180deg);
}

.portal {
	background-color: #99F;
}

.portal > span,
.stairs > span {
	display: block;
	position: relative;
	text-align: center;
	font-size: 2.1vmin;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.pressure-plate {
	background-image: url('../img/css/pressure-plate.svg');
	background-size: 100% 100%;
}

.stairs > .stairs {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/css/stairs-north.svg');
	background-size: 100% 100%;
}

.stairs.down.north > .stairs {
	bottom: -15%;
}

.stairs.down.east > .stairs {
	left: -15%;
	transform: rotate(90deg);
}

.stairs.down.west > .stairs {
	right: -15%;
	transform: rotate(-90deg);
}

.stairs.down.south > .stairs {
	top: -15%;
	transform: rotate(180deg);
}

.stairs.up.north > .stairs {
	transform: rotate(180deg);
	top: 75%;
}

.stairs.up.west > .stairs {
	transform: rotate(90deg);
	left: 75%;
}

.stairs.up.east > .stairs {
	transform: rotate(-90deg);
	right: 75%;
}

.stairs.up.south > .stairs {
	bottom: 75%;
}

.teleport {
	background-color: #dbf;
	background-image: url('../img/css/teleport.svg');
	background-size: 100% 100%;
}