h2 {
	text-align: center;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	position: relative;
	width: 35px;
	height: 35px;
	border: 1px dotted #888;
}

.start {
	background-color: #aaa;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.block,
.stairs {
	background-color: #888;
}

.button {
	background-image: url('../img/css/button-north.svg');
	background-size: 100% 100%;
}

.button.west,
.keyhole.west {
	transform: rotate(-90deg);
}

.button.east,
.keyhole.east {
	transform: rotate(90deg);
}

.button.south,
.keyhole.south {
	transform: rotate(180deg);
}

.door::before {
	content: "";
	position: absolute;
	background-color: #aaa;
}

.door.east-west::before {
	top: 50%;
	left: 0;
	width: 100%;
	height: 8px;
	transform: translateY(-50%);
}

.door.north-south::before {
	left: 50%;
	top: 0;
	height: 100%;
	width: 8px;
	transform: translateX(-50%);
}

.expected {
	background-color: #aaa;
}

.hole.ceiling > .hole.ceiling {
	width: 100%;
	height: 100%;
	background-image: url('../img/css/hole-ceiling.svg');
	background-size: 100% 100%;
}

.hole.floor {
	background-image: url('../img/css/hole-floor.svg');
	background-size: 100% 100%;
}

.imaginary {
	background-color: #eee;
	border: 2px dashed #99f;
}

.keyhole {
	background-image: url('../img/css/keyhole-north.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pressure-plate {
	background-image: url('../img/css/pressure-plate.svg');
	background-size: 100% 100%;
}

.stairs > .shape {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.stairs.north.down > .shape {
	clip-path: polygon(17% 100%, 50% 67%, 83% 100%);
}

.stairs.west.down > .shape {
	clip-path: polygon(100% 17%, 67% 50%, 100% 83%);
}

.stairs.east.down > .shape {
	clip-path: polygon(0 17%, 33% 50%, 0 83%);
}

.stairs.south.down > .shape {
	clip-path: polygon(17% 0, 50% 33%, 83% 0);
}

.stairs.north.up > .shape {
	clip-path: polygon(17% 67%, 83% 67%, 50% 133%);
}

.stairs.west.up > .shape {
	clip-path: polygon(67% 17%, 67% 83%, 133% 50%);
}

.stairs.east.up > .shape {
	clip-path: polygon(33% 17%, 33% 83%, -33% 50%);
}

.stairs.south.up > .shape {
	clip-path: polygon(17% 33%, 83% 33%, 50% -33%);
}

.stairs > span {
	display: block;
	position: relative;
	text-align: center;
	font-size: 33px;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}