h2 {
	text-align: center;
}

table {
	margin: 0 auto;
}

td {
	position: relative;
	width: 40px;
	height: 40px;
}

.start {
	background-color: #aaa;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.block,
.stairs {
	background-color: #888;
}

.expected {
	background-color: #aaa;
}

.door::before {
	content: "";
	position: absolute;
	background-color: #aaa;
}

.door.east-west::before {
	top: 50%;
	left: 0;
	width: 100%;
	height: 8px;
	transform: translateY(-50%);
}

.door.north-south::before {
	left: 50%;
	top: 0;
	height: 100%;
	width: 8px;
	transform: translateX(-50%);
}

.stairs.north.down {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 83% 100%, 50% 67%, 17% 100%, 0 100%);
}

.stairs.west.down {
	clip-path: polygon(0 0, 100% 0, 100% 17%, 67% 50%, 100% 83%, 100% 100%, 0 100%);
}

.stairs.east.down {
	clip-path: polygon(0 0, 0 17%, 33% 50%, 0 83%, 0 100%, 100% 100%, 100% 0);
}

.stairs.south.down {
	clip-path: polygon(0 0, 17% 0, 50% 33%, 83% 0, 100% 0, 100% 100%, 0 100%);
}

.stairs.north.up {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 100%, 83% 67%, 17% 67%, 33% 100%, 0 100%);
}

.stairs.west.up {
	clip-path: polygon(0 0, 100% 0, 100% 33%, 67% 17%, 67% 83%, 100% 67%, 100% 100%, 0 100%);
}
